<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        h1 { 
            color: red;
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <h2>Welcome {{name}} to our App</h2>
    
</body>
</html>